{{ form_start(form) }}

    <div class="mb-3">
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nombre) }}
    </div>

    <button class="btn btn-primary mt-3">
        {{ button_label|default('Guardar') }}
    </button>

{{ form_end(form) }}
